@use 'vars';
@use 'mixins';

.form {
    display: grid;
    grid-auto-rows: max-content;
    grid-auto-flow: row;
    gap: 1rem;

    &__row {
        display: grid;
        grid-auto-rows: max-content;
        grid-auto-flow: row;
        gap: 0.5rem;
        padding: 0.5rem;
    }

    &__label {
        font-size: 1.2rem;
        text-align: center;

        &_error {
            color: vars.$error;
        }
    }

    &__input {
        display: inline-block;
        background-color: transparent;
        border: 2px solid vars.$secondary;
        border-bottom: 2px solid vars.$accent;
        border-radius: 0.25rem;
        padding: 0.75rem;
        transition: all 0.2s ease-in-out;
        color: vars.$secondary;
        outline: none;

        &:hover,
        &:focus {
            box-shadow: 0 0 5px 1px vars.$accent;
        }

        &_error {
            color: vars.$error;
            border-color: vars.$error;

            &:hover,
            &:focus {
                box-shadow: 0 0 5px 1px lighten(vars.$error, 20);
            }
        }
    }

    &__error {
        color: vars.$error;
    }

    &__btn {
        @include mixins.btn;
        justify-self: center;
    }
}
