@use 'vars';

// Внешний контейнер.
@mixin outerContainer {
    margin-left: max(50px, 5%);
    margin-right: max(50px, 5%);
}

// Внутренний контейнер.
@mixin innerContainer {
    padding-left: max(50px, 5%);
    padding-right: max(50px, 5%);
}

// Заголовок.
@mixin title {
    display: grid;
    justify-self: center;
    place-items: center;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 3px solid vars.$secondary;
    color: vars.$accent;
    text-shadow: 1px 1px 2px vars.$secondary;
    font-size: 2rem;
}

// Карточка.
@mixin card {
    padding: 2rem;
    border-radius: 1rem;
    border: 1px solid vars.$secondary;
    box-shadow: 2px 2px 4px 0px  vars.$secondary;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 4px 4px 4px 0px  vars.$secondary;
    }
}

// Кнопка.
@mixin btn {
    display: inline-block;
    padding: 0.5rem 1rem;
    color: vars.$secondary;
    background-color: transparent;
    font-size: 1rem;
    border: 3px solid vars.$secondary;
    border-image: linear-gradient(
        45deg,
        vars.$secondary,
        vars.$accent,
        );
    border-image-slice: 1;
    text-decoration: none;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;

    &:hover {
        color: vars.$primary;
        background: linear-gradient(
            45deg,
            vars.$secondary,
            vars.$accent,
        );
    }
}

// Экран мобильного устройства.
@mixin mobile {
    @media screen and (max-width: 800px) {
        @content;
    }
}
