@use 'vars';

@mixin outerContainer {
    margin-left: max(50px, 5%);
    margin-right: max(50px, 5%);
}

@mixin innerContainer {
    padding-left: max(50px, 5%);
    padding-right: max(50px, 5%);
}

@mixin title {
    font-size: 2rem;
    padding-bottom: 0.5rem;
}

@mixin btn {
    display: inline-block;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    padding: 0.5rem 1rem;
    background-color: transparent;
    color: vars.$primary-color;
    font-size: 1rem;
    border: 3px solid vars.$secondary-color;
    border-image: linear-gradient(45deg,
            vars.$secondary-color,
            vars.$teriary-color );
    border-image-slice: 1;
    text-decoration: none;
    font-family: inherit;


    &:hover {
        color: white;
        background:
            linear-gradient(45deg,
                vars.$primary-color,
                vars.$secondary-color );
        ;
    }
}

@mixin mobile {
    @media screen and (max-width: 800px) {
        @content;
    }
}